{% extends 'base.html' %}

{% load macros %}

{% block title %}Liste des contacts{% endblock %}
{% block subtitle %}Les gens qui veulent des stands{% endblock %}
{% block active_menu %}contacts{% endblock %}

{% block content %}
<div class="container">
    <div class="columns">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {% if qs.exists %}
                        <nicetable>
                            <rows>
                                {% for c in qs %}
                                    <r>
                                        {% url 'prospector:contacts.edit' pk=c.pk as edit_url %}
                                        <d>{{c | fresh:'a'}}</d>
                                        <d>{{c.email_address}}(wip)</d>
                                        <d>{{c.phone_number}}</d>
                                        <d><span class="text-small">{{c.private_description | linebreaksbr | default:'?'}}</span></d>
                                        <d>
                                            <div>
                                                <button class="btn btn-sm float-right">Éditer</button>
                                            </div>
                                        </d>
                                    </r>
                                {% endfor %}
                            </rows>
                        </nicetable>
                    {% else %}
                        <div class="empty">
                            <p class="empty-title h5">Il n'y a rien ici.</p>
                            <p class="empty-subtitle">Aucun contact n'a été joint.</p>
                        </div>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <a href="{% url 'prospector:contacts.archive' %}" class="btn">Archive <i class="icon icon-time"></i></a>
                    <a href="{% url 'prospector:contacts.create' %}" class="btn btn-success">Créer <i class="icon icon-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
    var t = new NiceTable($('nicetable'), ['Personne', 'Email', 'Tel', 'Description', '<search>']);
</script>
{% endblock %}
