{% extends 'base.html' %}

{% block title %}Liste des contacts{% endblock %}
{% block subtitle %}Les gens qui veulent des stands{% endblock %}

{% block content %}
Faire des datatables ou bien un truc triable
<div class="container">
    <div class="columns">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Stand</th>
                    <th>Personne</th>
                    <th>Email</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for c in qs %}
                    <tr>
                        <td data-th="Stand"><a href="{% url 'prospector:contacts.show' pk=c.pk %}">{{c.booth_name}}</a></td>
                        <td data-th="Personne">{{c.person_name}}</td>
                        <td data-th="Email">{{c.email_address}}</td>
                        <td data-th="Description"><span class="text-small">{{c.private_description | linebreaksbr}}</span></td>
                        <td
                            <div>
                                <button class="btn btn-sm float-right">Éditer</button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="mt-2">
    <button class="btn btn-success">Créer</button>
</div>

{% endblock %}
