{% extends 'base.html' %}

{% load macros %}
{% load filters %}
{% load prospector_filters %}
{% loadmacros 'cooltable.html' %}

{% block title %}Liste des contacts{% endblock %}
{% block subtitle %}Les gens qui veulent des stands{% endblock %}
{% block active_menu %}contacts{% endblock %}

{% block content %}
<div class="container">
    <div class="columns">
        <div class="col-12">
            {% call cooltable qs.cols %}
                {% for c in qs.rows %}
                    <tr>
                        {% url 'prospector:contacts.edit' pk=d.pk as edit_url %}
                        <td><a href="{% url 'prospector:contacts.show' pk=c.pk %}">{{c.person_name | oredit:edit_url}}</a></td>
                        <td>{{c.email_address | oredit:edit_url}}</td>
                        <td><span class="text-small">{{c.private_description | linebreaksbr | orcross}}</span></td>
                        <td>
                            <div>
                                <button class="btn btn-sm float-right">Éditer</button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% endcall %}
        </div>
    </div>
</div>
<div class="mt-2">
    <button class="btn btn-success">Créer</button>
</div>

{% endblock %}
