{% extends 'base.html' %}

{% load macros %}
{% load prospector_filters %}
{% loadmacros 'cooltable.html' %}

{% block title %}Contact : {{obj.person_name}}{% endblock %}
{% block subtitle %}{{obj.email_address | default:'Pas d\'adresse mail °o°'}}{% endblock %}

{% block content %}

<div class="card mb-2">
    <div class="card-header">
        <div class="card-title h4">Deals liés</div>
    </div>
    <div class="card-body">
        {% call cooltable 'table' qs.cols%}
            {% for d in qs.rows %}
                <tr>
                    <td><a href="{% url 'prospector:deals.show' pk=d.pk %}">{{d.booth_name}} à {{d.event.name}}</a></td>
                    <td>{{d.get_type_display}}</td>
                    <td>CHF {{d.price}}{% if d.additional_price_modalities != '' %}+{% if d.additional_price_sum %}{{d.additional_price_sum}}{% else %}?{% endif %}{% endif %}</td>
                    <td>
                        <div>
                            <!-- faire avec views utiles -->
                            <button class="btn btn-sm float-right">view utile</button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% endcall %}
    </div>
</div>

<div class="card mb-2">
    <div class="card-header">
        <div class="card-title h4">Données</div>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            {% for k,v in kv.items %}
                <tr>
                    <th>{{k.verbose_name}}</th>
                    <td th_data="{{k.verbose_name}}">{{v | linebreaksbr}}</td>
                    <td class="text-right">
                        <!-- helpful buttons -->
                        {% if k.name == 'email_address' and v %}
                            <button class="btn btn-sm">Chercher dans boîte pro</button>
                        {% endif %}

                        {% if not v %}
                            <i class="icon icon-cross"></i>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <div class="mt-2">
            <button class="btn">Mail données manquantes</button>
            <button class="btn btn-error">Supprimer</button>
            <button class="btn btn-primary">Éditer</button>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    {% call cooltable_js 'table_json' 'table' qs.cols %}{% endcall %}
{% endblock %}
