{% extends 'base.html' %}

{% load macros %}
{% load filters %}
{% load prospector_filters %}
{% loadmacros 'cooltable.html' %}
{% loadmacros 'show_data.html' %}

{% block title %}Contact : {{obj.person_name}}{% endblock %}
{% block subtitle %}{{obj.email_address | default:'Pas d\'adresse mail °o°'}}{% endblock %}

{% block content %}

<div class="card mb-2">
    <div class="card-header">
        <div class="card-title h4">Deals liés</div>
    </div>
    <div class="card-body">
        {% call cooltable qs.cols%}
            {% for d in qs.rows %}
                <tr>
                    <td><a href="{% url 'prospector:deals.show' pk=d.pk %}">{{d}}</a></td>
                    <td>{{d.get_type_display}}</td>
                    <td>{{d.get_price_display}}</td>
                    <td>
                        <div>
                            <!-- faire avec views utiles -->
                            <button class="btn btn-sm float-right">view utile</button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% endcall %}
    </div>
</div>

<div class="card mb-2">
    <div class="card-header">
        <div class="card-title h4">Données</div>
    </div>
    <div class="card-body">
        {% call showdata show_data %}{% endcall %}
        <div class="mt-2">
            <button class="btn">Mail données manquantes</button>
            <button class="btn btn-error">Supprimer</button>
            <button class="btn btn-primary">Éditer</button>
        </div>
    </div>
</div>
{% endblock %}
