{% load static %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Prospector</title>
        <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/spectre.min.css' %}">
        <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/spectre-exp.min.css' %}">
        <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/spectre-icons.min.css' %}">
    </head>
    <body>
        <div class="container p-2">
            <div class="columns">
                <!-- menu -->
                <div class="column col-md-12 col-2 mb-2">
                    <!-- menu header -->
                    <a href="{% url 'prospector:index' %}" class="text-dark">
                        <h2 class="mb-1">Prospector</h2>
                        <h6 class="text-gray">L'outil d'un vrai <strong>pro</strong>!</h6>
                    </a>
                    <div class="divider"></div>
                    <!-- menu items -->
                    <ul class="nav p-2">
                        <li class="nav-item nav-index"><a href="{% url 'prospector:index' %}">Résumé</a></li>
                        <li class="nav-item nav-budgets"><a href="{% url 'prospector:plan' %}">Budget</a></li>
                        <li class="nav-item nav-plan"><a href="{% url 'prospector:plan' %}">Plan</a></li>
                        <li class="nav-item nav-contacts"><a href="{% url 'prospector:contacts.list' %}">Contacts</a></li>
                        <li class="nav-item nav-deals"><a href="{% url 'prospector:deals.list' %}">Deals</a></li>
                        <li class="nav-item nav-tasks"><a href="{% url 'prospector:tasks.list' %}">Tâches</a></li>
                        <li class="nav-item nav-tasktypes"><a href="{% url 'prospector:tasktypes.list' %}">Types de tâche</a></li>
                    </ul>
                </div>
                <!-- content -->
                <div class="column col-md-12 col-10">
                    <div class="columns">
                        <div class="column col-12 mb-2">
                            <h2 class="mb-1">{% block title %}{% endblock %}</h2>
                            <h6 class="text-gray">{% block subtitle %}{% endblock %}</h6>
                            <div class="divider"></div>
                        </div>
                        <div class="column col-12">
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="toast {% if message.tags != 'info' %}toast-{{ message.tags }}{% endif %} mb-1">
                                        <button class="btn btn-clear float-right"></button>
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="column col-12">
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="{% static 'node_modules/list.js/dist/list.js'%}"></script>
    <script src="{% static 'node_modules/zepto/dist/zepto.js'%}"></script>
    <script src="{% static 'js/nicetable.js'%}"></script>
    <script>
        $('.toast .btn-clear').on('click', e => {$(e.target).parent().hide();});
        var menu = '{% block active_menu %}{% endblock %}';

        if (menu != '') {
            $('.nav-item.nav-'+menu).addClass('active');
        }
    </script>

    {% block js %}
    {% endblock %}
</html>
