{% extends 'base.html' %}

{% load macros %}



{% loadmacros 'show_data.html' %}

{% block title %}Deal : {{obj.booth_name}} à {{obj.event.name}}{% endblock %}
{% block subtitle %}Type : {{obj.get_type_display}}{% endblock %}
{% block active_menu %}deals{% endblock %}

{% block content %}
<div class="card mb-2">
    <div class="card-header">
        <div class="card-title h4">Tâches à faire pour ce deal</div>
        <div class="card-subtitle text-gray">
            Utilise cette table si tu veux t'occuper de ce deal.<br>
            Tu peux indiquer ta progression au fur et à mesure avec les boutons de droite.
        </div>
    </div>
    <div class="card-body">
        <remote-nicetable href="{% url 'prospector:tasks.list_embed_fixed_deal' fixed_deal=obj.pk %}" id="tasks_list_remote">
            <add-form action="" method="post">
                <d>{{taskform.name}}</d>
                <d>{{taskform.deadline}}</d>
                <d>{{taskform.state}}</d>
                <d></d>
                <d>{{taskform.comment}}</d>
                <d>{% csrf_token %}<input type="submit" class="btn btn-sm btn-primary" value="Ajouter"></d>
                <d></d>
            </add-form>
        </remote-nicetable>
    </div>
</div>

<div class="card mb-2">
    <div class="card-header">
        <div class="card-title h4">Données</div>
    </div>
    <div class="card-body">
        {% call showdata show_data %}{% endcall %}
        <div class="mt-2">
            <button class="btn">Mail données manquantes</button>
            <button class="btn btn-error">Supprimer</button>
            <button class="btn btn-primary">Éditer</button>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    getRemoteNiceTable('#tasks_list_remote');
</script>
{% endblock %}
