{% extends 'base.html' %}

{% load prospector_filters %}

{% block title %}Deal : {{obj.contact.booth_name}} à {{obj.event.name}}{% endblock %}
{% block subtitle %}Type : {{obj.get_type_display}}{% endblock %}

{% block content %}


<div class="card mb-2">
    <div class="card-header">
        <div class="card-title h4">Tâches à faire</div>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Tâche</th>
                    <th>État</th>
                    <th>Échéance</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for dt in dealtasks %}
                    <tr>
                        <td data-th="Tâche">{{dt.task.name}}</td>
                        <td data-th="État"><small class="label label-{{dt.todo_state | todostatecolor}}">{{dt.get_todo_state_display}}</small></td>
                        <td data-th="Échéance"><small class="label label-{{dt.deadline | deadlinecolor}}">{{dt.deadline | deadline}}</small></td>
                        <td data-th="Description"><span class="text-small">{{dt.task.description}}</span></td>
                        <td>
                            <div>
                                <!-- faire avec views utiles -->
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<div class="card mb-2">
    <div class="card-header">
        <div class="card-title h4">Données</div>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            {% for k,v in kv.items %}
                <tr>
                    <th>{{k.verbose_name}}</th>
                    <td th_data="{{k.verbose_name}}">
                        {% if k.name == 'contact' and v %}
                            <a href="{% url 'prospector:contacts.show' pk=v.pk %}">{{v.booth_name}}</a>
                        {% else %}
                            {{v | linebreaksbr}}
                        {% endif %}
                    </td>
                    <td class="text-right">
                        <!-- helpful buttons -->
                        {% if k.name == 'floating'%}
                            {% if v %}<i class="icon icon-cross"></i>{% endif %}
                        {% elif not v and k.name != 'additional_price_modalities'%}
                            <i class="icon icon-cross"></i>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <div class="mt-2">
            <button class="btn">Mail données manquantes</button>
            <button class="btn btn-error">Supprimer</button>
            <button class="btn btn-primary">Éditer</button>
        </div>
    </div>
</div>
{% endblock %}
