{% extends 'base.html' %}

{% load macros %}
{% load filters %}
{% load prospector_filters %}
{% loadmacros 'cooltable.html' %}
{% loadmacros 'show_data.html' %}

{% block title %}Deal : {{obj.booth_name}} à {{obj.event.name}}{% endblock %}
{% block subtitle %}Type : {{obj.get_type_display}}{% endblock %}

{% block content %}


<div class="card mb-2">
    <div class="card-header">
        <div class="card-title h4">Tâches à faire pour ce deal</div>
    </div>
    <div class="card-body">
        {% call cooltable qs.cols add_form=taskform %}
            {% for dt in qs.rows %}
                <tr>
                    <td>{{dt.get_display}}</td>
                    <td><small>{{dt.deadline | deadline | orcross}}</small></td>
                    <td><small class="label label-{{dt.todo_state | todostatecolor}}">{{dt.get_todo_state_display}}</small></td>
                    <td><span class="text-small">{{dt.comment | orcheck}}</span></td>
                    <td>
                        <div>
                            views utiles ici
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% endcall %}
    </div>
</div>

Ajouter une card "Flottant"
qui permette la vision/l'édition rapide du statut flottant

<div class="card mb-2">
    <div class="card-header">
        <div class="card-title h4">Données</div>
    </div>
    <div class="card-body">
        {% call showdata show_data %}{% endcall %}
        <div class="mt-2">
            <button class="btn">Mail données manquantes</button>
            <button class="btn btn-error">Supprimer</button>
            <button class="btn btn-primary">Éditer</button>
        </div>
    </div>
</div>
{% endblock %}
