{% extends 'base.html' %}

{% load macros %}
{% block title %}Résumé de {{current_event | fresh:'a'}}{% endblock %}
{% block subtitle %}Survol rapide des choses importantes{% endblock %}
{% block active_menu %}index{% endblock %}

{% block content %}
<div class="app">
    <form action="{% url 'prospector:quickstart' %}" method="get">
        <div class="card mb-2">
            <div class="card-header">
                <div class="card-title h4">Quick start</div>
                <div class="card-subtitle text-gray">
                    Entre un type de tâche ou le nom d'un deal pour y aller vite. (Ou bien, rien du tout).<br>
                </div>
            </div>
            <div class="card-body">
                {% for field in quickstartform %}
                    <div>{% if not field.is_hidden %}{{ field.errors }}{{ field }}{% endif %}</div>
                {% endfor %}
            </div>
        </div>
    </form>
    <div class="card mb-2">
        <div class="card-header">
            <div>
                <div class="columns">
                    <div class="column col-auto">
                        <div class="card-title h4">Prochaines tâches</div>
                    </div>
                    <div class="column col">
                        <input class="search form-input" placeholder="Rechercher" id="tasks_table_search"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            {% if to_do %}
                <nicetable id="tasks_table">
                    <rows>
                        {% for r in to_do %}
                            <r>
                                <d>{{r.deal | fresh:'a'}}</d>
                                <d>{{r | fresh:'a'}}</d>
                                <d><small>{{r.deadline | deadline | or_cross}}</small></d>
                                <d class="bg-{{r.todo_state | todo_state_color}}-dark"><small>{{r.todo_state | choice:'prospector.Task.todo_state'}}</small></d>
                            </r>
                        {% endfor %}
                    </rows>
                </nicetable>
            {% else %}
                <div class="empty">
                    <p class="empty-title h5">Rien à faire.</p>
                    <p class="empty-subtitle">Aucune tâche n'a été planifiée.</p>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="card mb-2">
        <div class="card-header">
            <div class="card-title h4">Budget des stands</div>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="columns">
                    <div class="column text-center">
                        <small>RECETTES BUDGÉTÉES DES EMPLACEMENTS</small>
                        <p><span class="h4">CHF </span><span class="h4 text-primary">{{budgeted_income}}</span></p>
                    </div>
                    <div class="column text-center">
                        <small>RECETTES USUELLES DE TOUS LES EMPLACEMENTS</small>
                        <p>
                            <span class="h4">CHF </span>
                            <span class="h4 text-{% if usual_income_for_all_boothspaces < budgeted_income %}error{% else %}success{% endif %}">{{usual_income_for_all_boothspaces}}</span>
                            <span>/{{budgeted_income}}</span>
                        </p>
                    </div>
                    <div class="column text-center">
                        <small>RECETTES DES STANDS ATTENDUES</small>
                        <p>
                            <span class="h4">CHF </span>
                            <span class="h4 text-{% if expected_income < budgeted_income %}error{% else %}success{% endif %}">{{expected_income}}</span>
                            <span>/{{budgeted_income}}</span>
                        </p>
                    </div>
                    <div class="column text-center">
                        <small>RECETTES DES STANDS SIGNÉS</small><br/>
                        <p>
                            <span class="h4">CHF </span>
                            <span class="h4 text-{% if signed_income < budgeted_income %}error{% else %}success{% endif %}">{{signed_income}}</span>
                            <span>/{{budgeted_income}}</span>
                        </p>
                        <small>{{signed_deals_number}} stands / {{deals_number}} sont déjà signés</small>
                    </div>
                    <div class="column text-center">
                        <small>RECETTES REÇUES</small><br/>
                        <p>
                            <span class="h4">CHF </span>
                            <span class="h4 text-{% if received_income < budgeted_income %}error{% else %}success{% endif %}">{{received_income}}</span>
                            <span>/{{budgeted_income}}</span>
                        </p>
                        <small>{{paid_deals_number}} stands / {{deals_number}} ont déjà payé</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-2">
        <div class="card-header">
            <div class="card-title h4">Emplacements libres</div>
        </div>
        <div class="card-body">
            {% if free_booths %}
                <nicetable id="free_booths_table">
                    <rows>
                        {% for b in free_booths %}
                            <r>
                                <d>{{b | fresh:'a'}}</d>
                                <d>{{b.usual_price | price}}</d>
                                <d>prix des deals placés ici de manière pas sûre</d>
                                <d>
                                    <div>
                                        <button class="btn btn-sm float-right">Détails emplacement</button>lien show emplacement
                                    </div>
                                </d>
                            </r>
                        {% endfor %}
                    </rows>
                </nicetable>
            {% else %}
                <div class="empty">
                    <p class="empty-title h5">Il n'y a rien ici.</p>
                    <p class="empty-subtitle">Aucun emplacement n'a été défini.</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    var t = new NiceTable($('#tasks_table'), ['Deal', 'Tâche', 'Échéance', 'État']);
    t.setSearchBox($('#tasks_table_search'))
    var t2 = new NiceTable($('#free_booths_table'), ['Emplacement', 'Prix usuel', 'Prix des deals qui vont peut-être ici', '<search>']);
</script>
{% endblock %}
