{% extends 'base.html' %}

{% load macros %}




{% block title %}Résumé de {{current_event | model}}{% endblock %}
{% block subtitle %}Survol rapide des choses importantes{% endblock %}
{% block active_menu %}index{% endblock %}

{% block content %}
<div class="app">
    <form action="{% url 'prospector:quickstart' %}" method="get">
        <div class="card mb-2">
            <div class="card-header">
                <div class="card-title h4">Quick start</div>
                <div class="card-subtitle text-gray">
                    Entre un type de tâche ou le nom d'un deal pour y aller vite. (Ou bien, rien du tout).<br>
                </div>
            </div>
            <div class="card-body">
                {% for field in quickstartform %}
                    <div>{% if not field.is_hidden %}{{ field.errors }}{{ field }}{% endif %}</div>
                {% endfor %}
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary float-right">Allez!</button>
            </div>
        </div>
    </form>
    <div class="card mb-2">
        <div class="card-header">
            <div class="container">
                <div class="columns">
                    <div class="column col-auto">
                        <div class="card-title h4">Tâches à faire groupées par type</div>
                    </div>
                    <div class="column col">
                        <input class="search form-input" placeholder="Rechercher" id="tasks_table_search"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <nicetable id="tasks_table">
                <rows>
                    {% for r in to_do %}
                        <r>
                            <d>{{r | model:'timed_a'}}</d>
                            <d><small>pour {{r.deal_count}} deals</small></d>
                            <d><small>{{r.deadline | deadline | or_cross}}</small> pour {{r.deal | model:'a'}}</d>
                            <d><small>{{r | model:'todo_state'}}</small></d>
                            <d></d>
                        </r>
                    {% endfor %}
                </rows>
            </nicetable>
        </div>
    </div>

    <div class="card mb-2">
        <div class="card-header">
            <div class="card-title h4">Budget des stands</div>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="columns">
                    <div class="column text-center">
                        <small>RECETTES BUDGÉTÉES DES EMPLACEMENTS</small>
                        <p><span class="h3">CHF </span><span class="h3 text-primary">+a</span></p>
                    </div>
                    <div class="column text-center">
                        <small>RECETTES USUELLES DE TOUS LES EMPLACEMENTS</small>
                        <p><span class="h3">CHF </span><span class="h3">+b</span></p>
                    </div>
                    <div class="column text-center">
                        <small>RECETTES DES STANDS SAUF SURPRISE</small>
                        <p><span class="h3">CHF </span><span class="h3 text-success">+c</span></p>
                    </div>
                    <div class="column text-center">
                        <small>RECETTES DES STANDS SIGNÉS</small><br/>
                        <small>x stands / y sont déjà signés</small>
                        <p><span class="h3">CHF </span><span class="h3 text-success">+d</span></p>
                    </div>
                    <div class="column text-center">
                        <small>RECETTES REÇUES</small><br/>
                        <small>x stands / y ont déjà payé</small>
                        <p><span class="h3">CHF </span><span class="h3 text-success">+e</span>(taper dans truffe ici)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-2">
        <div class="card-header">
            <div class="card-title h4">Emplacements libres</div>
        </div>
        <div class="card-body">
            <nicetable id="free_booths_table">
                <rows>
                    {% for b in free_booths %}
                        <r>
                            <d>{{b | model:'a'}}</d>
                            <d>{{b.usual_price | price}}</d>
                            <d>prix des deals placés ici de manière pas sûre</d>
                            <d>
                                <div>
                                    <button class="btn btn-sm float-right">Détails emplacement</button>lien show emplacement
                                </div>
                            </d>
                        </r>
                    {% endfor %}
                </rows>
            </nicetable>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    var t = new NiceTable($('#tasks_table'), ['Type de tâche', '', 'Deadline la plus proche', 'État le plus en retard']);
    t.setSearchBox($('#tasks_table_search'))
    var t2 = new NiceTable($('#free_booths_table'), ['Emplacement', 'Prix usuel', 'Prix des deals qui vont peut-être ici', '<search>']);
</script>
{% endblock %}
