{% extends 'base.html' %}

{% load macros %}
{% load filters %}
{% load prospector_filters %}
{% loadmacros 'cooltable.html' %}

{% block title %}Liste des tâches{% endblock %}
{% block subtitle %}C'est qui que tu traites de tache ?{% endblock %}

{% block content %}
Ajouter un field par user pour savoir leurs droits (tréso peut sortir de l'état wait sur tréso, etc)
Ajouter des field par event pour le templating des contrats (nom prés, nom prés agep)
Faire que y'a des cases par défaut si la personne choisit pas d'option de paiement
Faire que la deadline s'affiche en vert si le todo est terminé
Colonne temps d'attente
<div class="container">
    <div class="columns">
        <div class="col-12">
            {% call cooltable qs.cols %}
                {% for t in qs.rows %}
                    <tr>
                        <td>{{t.get_display}}</td>
                        <td>pour <a href="{% url 'prospector:deals.show' pk=t.deal.pk %}">{{t.deal.booth_name}}</a></td>
                        <td><small>{{t.deadline | deadline | orcross}}</small></td>
                        <td><small class="label label-{{t.todo_state | todostatecolor}}">{{t.get_todo_state_display}}</small></td>
                        <td>
                            <div>
                                <button class="btn btn-sm float-right">views utiles</button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% endcall %}
        </div>
    </div>
</div>

<div class="mt-2">
    <button class="btn btn-success">Créer</button>
</div>
{% endblock %}
