{% extends 'base.html' %}

{% block title %}Explication de l'avancement pour {{obj | fresh:'a'}}{% endblock %}
{% block subtitle %}Ah, je crois que t'es en retard :o{% endblock %}
{% block active_menu %}deals{% endblock %}

{% block content %}
<div class="card mb-2">
    <div class="card-body">
        <small>
            <ul>
                <li>Chaque type de tâche a un ensemble de <i>tags</i>, comme par exemple <code>price</code>,  <code>contract</code>... Cela est éditable par vous !<ul>
                    <li>Les types de tâche par défaut, ont des tags correspondants : "Faire le contrat" a le tag <code>contract</code>.</li>
                </ul></li>
                <li>Chaque étape d'avancement est liée à un tag : "Prix" est liée au tag <code>price</code>.<ul>
                    <li>Si toutes les tâches avec un tag donné sont <small class="label label-success">Terminé</small>, alors l'étape d'avancement correspondante sera <i class="icon icon-check text-success"></i>.</li>
                    <li>S'il n'y a aucune tâche avec le tag donné, ou bien si elles ne sont pas toutes terminées, alors l'étape d'avancement sera <i class="icon icon-cross text-error"></i>.</li>
                </ul></li>
            </ul>
        </small>
    </div>
    <div class="card-footer">
        <a href="{% url 'prospector:deals.show' pk=obj.pk %}" class="btn">Revenir <i class="icon icon-back"></i></a>
    </div>
</div>

<div class="card mb-2">
    <div class="card-header">
        <div class="card-title h4">Prix <i class="icon icon-{{obj.price_decided | yesno:'check,cross'}} text-{{obj.price_decided | yesno:'success,error'}}"></i></div>
    </div>
    <div class="card-body">
        En raison des tâches suivantes qui ont le tag <code>price</code> :
        <ul>
            {% for task in tasks.price %}
                <li>
                    <span class="tile-title">{{task | fresh:'a'}}</span>
                    (<small class="tile-subtitle text-gray">{{task | fresh:'todo_state'}}</small>)
                </li>
            {% empty %}
                <li>
                    Il n'y aucune tâche avec ce tag. Prospector conclut donc que vous avez oublié l'existence des tags, et marque l'étape avec <i class="icon icon-cross text-error"></i>.
                 </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="card mb-2">
    <div class="card-header">
        <div class="card-title h4">Emplacement <i class="icon icon-{{obj.boothspace_decided | yesno:'check,cross'}} text-{{obj.boothspace_decided | yesno:'success,error'}}"></i></div>
    </div>
    <div class="card-body">
        En raison des tâches suivantes qui ont le tag <code>boothspace</code> :
        <ul>
            {% for task in tasks.boothspace %}
                <li>
                    <span class="tile-title">{{task | fresh:'a'}}</span>
                    (<small class="tile-subtitle text-gray">{{task | fresh:'todo_state'}}</small>)
                </li>
            {% empty %}
                <li>
                    Il n'y aucune tâche avec ce tag. Prospector conclut donc que vous avez oublié l'existence des tags, et marque l'étape avec <i class="icon icon-cross text-error"></i>.
                 </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="card mb-2">
    <div class="card-header">
        <div class="card-title h4">Contrat <i class="icon icon-{{obj.contract_decided | yesno:'check,cross'}} text-{{obj.contract_decided | yesno:'success,error'}}"></i></div>
    </div>
    <div class="card-body">
        En raison des tâches suivantes qui ont le tag <code>contract</code> :
        <ul>
            {% for task in tasks.contract %}
                <li>
                    <span class="tile-title">{{task | fresh:'a'}}</span>
                    (<small class="tile-subtitle text-gray">{{task | fresh:'todo_state'}}</small>)
                </li>
            {% empty %}
                <li>
                    Il n'y aucune tâche avec ce tag. Prospector conclut donc que vous avez oublié l'existence des tags, et marque l'étape avec <i class="icon icon-cross text-error"></i>.
                 </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
    getRemoteNiceTable('#tasks_list_remote');
</script>
{% endblock %}
