{% extends 'base.html' %}

{% load macros %}




{% block title %}Liste des deals{% endblock %}
{% block subtitle %}Les fois où un contact veut un stand{% endblock %}
{% block active_menu %}deals{% endblock %}

{% block content %}
<div class="container">
    <div class="columns">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {% if qs.exists %}
                        <nicetable>
                            <rows>
                                {% for d in qs %}
                                <r>
                                    {% url 'prospector:deals.edit' pk=d.pk as edit_url %}
                                    <d>{{d | fresh:'a'}}</d>
                                    <d>{{d.event | fresh:'a'}}</d>
                                    <d>{{d | model_choice:'type'}}</d>
                                    <d>
                                        <i class="icon icon-{{d.price_decided | yesno:'check,cross'}} text-{{d.price_decided | yesno:'success,error'}}"></i>
                                        {{d | fresh:'price' | default:'?'}}
                                    </d>
                                    <d>
                                        <i class="icon icon-{{obj.boothspace_decided | yesno:'check,cross'}} text-{{obj.price_decided | yesno:'success,error'}}"></i>
                                        {% for dbs in obj.dealboothspace_set.all %}
                                            {{dbs.boothspace | fresh:'a' | default:'?'}}
                                        {% empty %}
                                            ?
                                        {% endfor %}
                                    </d>
                                    <d>
                                        <i class="icon icon-{{obj.contract_decided | yesno:'check,cross'}} text-{{obj.price_decided | yesno:'success,error'}}"></i>
                                    </d>
                                    <d>
                                        <div>
                                            <a href="{{edit_url}}" class="btn btn-sm float-right">Éditer</a>
                                        </div>
                                    </d>
                                </r>
                                {% endfor %}
                            </rows>
                        </nicetable>
                    {% else %}
                        <div class="empty">
                            <p class="empty-title h5">Il n'y a rien ici.</p>
                            <p class="empty-subtitle">Aucun deal n'a été proposé.</p>
                        </div>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <a href="{% url 'prospector:deals.archive' %}" class="btn">Archive <i class="icon icon-time"></i></a>
                    <a href="{% url 'prospector:deals.create' %}" class="btn btn-success">Créer <i class="icon icon-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    var t = new NiceTable($('nicetable'), ['Nom', 'Événement', 'Type', 'Prix décidé', 'Emplacement décidé', 'Contrat signé', '<search>']);
</script>
{% endblock %}
