{% extends 'base.html' %}

{% load macros %}



{% block title %}Liste des fanzines{% endblock %}
{% block active_menu %}fanzines{% endblock %}

{% block content %}
<div class="container">
    <div class="columns">
        <div class="col-12">
            <nicetable>
                <rows>
                    {% for item in qs %}
                        <r>
                            <d>{{item | fresh:'a'}}</d>
                            <d>{{item.email}}</d>
                            <d>{{item.phone_number}}</d>
                            <d>{{item.address_country}}</d>
                            <div></div>
                        </r>
                    {% endfor %}
                </rows>
            </nicetable>
        </div>
    </div>
</div>
<div class="mt-2">
    <div class="card-footer">
        {% if qs %} <a href="{% url 'prospector:fanzines.delete' %}" class="btn btn-error">Tout supprimer et recommencer</i></a>
        {% else %} <a href="{% url 'prospector:fanzines.add' %}" class="btn btn-success">Ajouter les fanzines</i></a>
        {% endif %}

    </div>

</div>
{% endblock %}

{% block js %}
<script>
    var t = new NiceTable($('nicetable'), ['Nom', 'Email', 'Tel', 'Description', '<search>']);
</script>
{% endblock %}
