{% extends 'base.html' %}

{% load macros %}



{% block title %}Liste des fanzines{% endblock %}
{% block active_menu %}fanzines{% endblock %}

{% block content %}
<div class="container">
    <div class="columns">
        <div class="col-12">
            {% for item in qs %}
                <!-- je compte faire un truc mieux soonish --!>
                    <a href="{% url 'prospector:fanzines.show' pk=item.pk %}">{{item.stand_name}}</a></br>
            {% endfor %}
        </div>
    </div>
</div>
<div class="mt-2">
    <div class="card-footer">
    {% if qs %} <!--<a href="{% url 'prospector:fanzines.delete' %}" class="btn btn-error">Tout supprimer et recommencer</i></a>--!>
        <a href="{% url 'prospector:fanzines.register' %}" class="btn btn-success"><i class="icon icon-plus"></i> Ajouter</a>

        {% else %} <a href="{% url 'prospector:fanzines.add' %}" class="btn btn-success">Ajouter les fanzines</a>
        {% endif %}

    </div>

</div>
{% endblock %}

