{% extends 'base_external.html' %}
{% load spectre_css %}

{% block title %}Sélection fanzines 2021 {% endblock %}
{% block subtitle %}{{request.user.get_full_name}}{% endblock %}
{% block active_menu %}fanzines{% endblock %}

{% block content %}
<form action="" method="post">
    <div class="card" id="fanzines-card">
        <div class="card-header">
            <div class="card-title h4"><a href="{{obj.image_url}}" target="_blank">{{obj.stand_name}}</a> ({{index}}/{{total}})</div>
        </div>
        <div class="card-body">
            <p class="card-text">{{obj.stand_description}}</p>
            <div class="fanzines-link">{% if obj.deviant_url %} <a href="{{obj.deviant_url}}" target="_blank" class="card_link">Page Deviant</a> {% endif %}</div>
            <div class="fanzines-link">{% if obj.facebook_url %} <a href="{{obj.facebook_url}}" target="_blank" class="card_link">Page Facebook</a> {% endif %}</div>
            <div class="fanzines-link">{% if obj.blog_url %} <a href="{{obj.blog_url}}" target="_blank" class="card_link">Blog/Site/Autre</a> {% endif %}</div>

        </div>
        <div class="card-footer">
            {% render_form form %}
            {% if prev %} 
                <div class="float-right">
                    <a href="{% url 'prospector:fanzines.vote' pk=prev %}" class="btn">Précédent <i class="icon icon-back"></i></a>
            {% endif %}

                <button class="btn btn-success">Sauvegarder et continuer <i class="icon icon-forward"></i></button>
            </div>
        </div>
    </div>
</form>
{% endblock %}
