{% extends 'base_external.html' %}
{% load spectre_css %}

{% block title %}Sélection fanzines 2021 {% endblock %}
{% block subtitle %}{{request.user.get_full_name}}{% endblock %}
{% block active_menu %}fanzines{% endblock %}

{% block content %}
<form action="" method="post">
    <div class="card" id="fanzines-card">
        <div class="card-header">
          <div class="card-title h4">Merci d'avoir participé!</div>
        </div>
        <div class="card-body">
            <p class="card-text">C'est la fin du sondage, vous avez tout vu !</p>
        </div>
        <div class="card-footer">
            
        </div>
    </div>
</form>
{% endblock %}
