/* For carets in sortable tables */

/* For fanzine votes */
#fanzines-card {
    width: 30rem;
    margin: auto; 
    padding: .5em 4em; 
    line-height: 1.6;
}

.fanzines-link {
    line-height: 2;
}

