{% extends 'base.html' %}

{% load macros %}
{% load prospector_filters %}
{% loadmacros 'cooltable.html' %}

{% block title %}Résumé{% endblock %}
{% block subtitle %}Survol rapide des choses importantes{% endblock %}

{% block content %}
<div class="app">
    <div class="card mb-2">
        <div class="card-header">
            <div class="card-title h4">Todo et échéances</div>
        </div>
        <div class="card-body">
            {% call cooltable 'to_do_table' to_do.cols %}
                {% for r in to_do.rows %}
                    <tr>
                        <td>Il faut <a href="{% url 'prospector:tasktypes.show' pk=r.id %}">{{r.name | lower}}</a></td>
                        <td>pour {{r.deal_count}} deals</td>
                        <td>{{r.deadline | deadline | orcross}} pour <a href="{% url 'prospector:deals.show' pk=r.deal_id%}">{{r.booth_name}}</a></td>
                        <td><small class="label label-{{r.worst_todo | todostatecolor}}">{{r.get_worst_todo_display}}</small></td>
                        <td>
                        </td>
                    </tr>
                {% endfor %}
            {% endcall %}
        </div>
    </div>

    <div class="card mb-2">
        <div class="card-header">
            <div class="card-title h4">Budget des stands</div>
        </div>
        <div class="card-body">
            <div class="container">
                faire couleur du budget juste
                <div class="columns m-medium">
                    <div class="col-6 text-center">
                        <small>BUDGET CERTAIN</small>
                        <p><span class="h3">CHF </span><span class="h3 text-success">+{{final_budget}}</span><span class="h4"> /1000</span></p>
                    </div>
                    <div class="col-6 text-center">
                        <small>BUDGET PREVISIONNEL</small>
                        <p><span class="h3">CHF </span><span class="h3 text-success">+{{unsure_budget}}</span><span class="h4"> /1000</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-2">
        <div class="card-header">
            <div class="card-title h4">Deals flottants</div>
        </div>
        <div class="card-body">
            {% call cooltable 'floating_deals_table' floating_deals.cols %}
                {% for d in floating_deals.rows %}
                    <tr>
                        <td><a href="{% url 'prospector:deals.show' pk=d.pk%}">{{d.booth_name}}</a></td>
                        <td><small>{{d.floating}}</small></td>
                        <td></td>
                    </tr>
                {% endfor %}
            {% endcall %}
        </div>
    </div>

    <div class="card mb-2">
        <div class="card-header">
            <div class="card-title h4">Emplacements libres</div>
        </div>
        <div class="card-body">
            {% call cooltable 'booths_table' free_booths.cols %}
                {% for b in free_booths.rows %}
                    <tr>
                        <td>{{b.name}}linker plan centré</td>
                        <td>{{b.building}}linker plan cm</td>
                        <td>CHF {{b.usual_price}}ajouter les prix des deals placés ici de manière pas sûre</td>
                        <td>
                            <div>
                                <button class="btn btn-sm float-right">Détails emplacement</button>lien show emplacement
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% endcall %}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    {% call cooltable_js 'to_do_table_json' 'to_do_table' to_do.cols %}{% endcall %}
    {% call cooltable_js 'booths_table_json' 'booths_table' free_booths.cols %}{% endcall %}
    {% call cooltable_js 'floating_deals_table_json' 'floating_deals_table' floating_deals.cols %}{% endcall %}
{% endblock %}
