{% load static %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Prospector</title>
        <link rel="stylesheet" type="text/css" media="all" href="{% static 'app/css/spectre.min.css' %}">
        <link rel="stylesheet" type="text/css" media="all" href="{% static 'app/css/spectre-exp.min.css' %}">
        <link rel="stylesheet" type="text/css" media="all" href="{% static 'app/css/spectre-icons.min.css' %}">
    </head>
    <body>
        <div class="off-canvas off-canvas-sidebar-show">
            <a class="off-canvas-toggle p-fixed btn" href="#sidebar">
                <i class="icon icon-menu"></i>
            </a>

            <div id="sidebar" class="off-canvas-sidebar">
                <div class="container py-2">

                    <div class="px-2">
                        <a href="{% url 'prospector:index' %}" class="text-dark">
                            <h2 class="mb-1 px-2">Prospector</h2>
                            <h6 class="text-gray px-2">L'outil d'un vrai <strong>pro</strong>!</h6>
                        </a>
                    </div>

                    <div class="divider"></div>

                    <ul class="nav p-2">
                        <li class="nav-item nav-index"><a href="{% url 'prospector:index' %}">Résumé</a></li>
                        <li class="nav-item nav-budgets"><a href="{% url 'prospector:plan' %}">Budget (WIP)</a></li>
                        <li class="nav-item nav-plan"><a href="{% url 'prospector:plan' %}">Plan (WIP)</a></li>
                        <li class="nav-item nav-events"><a href="{% url 'prospector:events.list' %}">Événements (WIP)</a></li>
                        <li class="nav-item nav-contacts"><a href="{% url 'prospector:contacts.list' %}">Contacts</a></li>
                        <li class="nav-item nav-deals"><a href="{% url 'prospector:deals.list' %}">Deals</a></li>
                        <li class="nav-item nav-tasks"><a href="{% url 'prospector:tasks.list' %}">Tâches</a></li>
                        <li class="nav-item nav-tasktypes"><a href="{% url 'prospector:tasktypes.list' %}">Types de tâche</a></li>
                    </ul>

                    <div class="divider"></div>

                    <ul class="nav p-2">
                        <li class="nav-item pl-2">Vous êtes <strong>{{request.user.get_full_name}}</strong></li>
                        <li class="nav-item"><a href="{% url 'users:cas_ng_logout' %}">Déconnexion</a></li>
                    </ul>

                </div>
            </div>

            <a class="off-canvas-overlay" href="#close"></a>

            <div class="off-canvas-content p-0">
                <div class="container py-2">

                    <div class="mb-2">
                        <h2 class="mb-1">{% block title %}{% endblock %}</h2>
                        <h6 class="text-gray">{% block subtitle %}{% endblock %}</h6>
                        <div class="divider"></div>
                    </div>

                    <div>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="toast {% if message.tags != 'info' %}toast-{{ message.tags }}{% endif %} mb-1">
                                    <button class="btn btn-clear float-right"></button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div>
                        {% block content %}
                        {% endblock %}
                    </div>

                </div>
            </div>

        </div>
    </body>

    <script src="{% static 'app/node_modules/zepto/dist/zepto.js'%}"></script>
    <script src="{% static 'app/js/nicetable.js'%}"></script>
    <script>
        $('.toast .btn-clear').on('click', e => {$(e.target).parent().hide();});
        var menu = '{% block active_menu %}{% endblock %}';

        if (menu != '') {
            $('.nav-item.nav-'+menu).addClass('active');
        }
    </script>

    {% block js %}
    {% endblock %}
</html>
