{% extends 'base.html' %}

{% load macros %}
{% load filters %}
{% load prospector_filters %}

{% loadmacros 'show_data.html' %}

{% block title %}Type de tâche : {{obj.name}}{% endblock %}
{% block subtitle %}C'est qui que tu traites de tache ?{% endblock %}
{% block active_menu %}tasktypes{% endblock %}

{% block content %}

<div class="card mb-2">
    <div class="card-header">
        <div class="card-title h4">Deals avec cette tâche</div>
        <div class="card-subtitle text-gray">
            Utilise cette table si tu veux faire cette tâche pour plein de stands.<br>
            Tu peux indiquer ta progression au fur et à mesure avec les boutons de droite.
        </div>
    </div>
    <div class="card-body">
        <nicetable>
            <rows>
                {% for r in qs %}
                    <r>
                        <d>Pour <a href="{% url 'prospector:deals.show' pk=r.deal.pk %}">{{r.deal.booth_name}}</a></d>
                        <d><small class="label label-{{r.todo_state | todostatecolor}}">{{r.get_todo_state_display}}</small></d>
                        <d><small>{{r.deadline | deadline | orcross}}</small></d>
                        <d></d>
                        <d><small>{{r.comment | orcheck}}</small></d>
                        <d>
                            <div>
                                prev/next status (ajax ? vue ?)
                                views utiles ici
                            </div>
                        </d>
                    </r>
                {% endfor %}
            </rows>
        </nicetable>
    </div>
</div>

<div class="card mb-2">
    <div class="card-header">
        <div class="card-title h4">Données</div>
    </div>
    <div class="card-body">
        Mettre un bouton pour merger into un autre tasktype si jamais deux choses sont same shit
        {% call showdata show_data %}{% endcall %}
        <div class="mt-2">
            <button class="btn">Merger avec un autre type de tâche</button>
            <button class="btn btn-error">Supprimer</button>
            <button class="btn btn-primary">Éditer</button>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
    var t = new NiceTable($('nicetable'), ['Deal', 'Échéance', 'État', 'État depuis', 'Commentaire', '<search>']);
</script>
{% endblock %}
