{% extends 'base.html' %}

{% block title %}Liste des tâches{% endblock %}
{% block subtitle %}C'est qui que tu traites de tache ?{% endblock %}
{% block active_menu %}tasks{% endblock %}

{% block content %}
<div class="container">
    <div class="columns">
        <div class="col-12">
            <div class="text-gray">
                Utilise cette table si tu fais des tâches en vrac.<br>
                Tu peux indiquer ta progression au fur et à mesure avec les boutons de droite.<br>
                Utilise la recherche pour te faciliter la navigation.
            </div>
            <remote-nicetable href="{% url 'prospector:tasks.list_embed' %}" id="tasks_list_remote">
            </remote-nicetable>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    getRemoteNiceTable('#tasks_list_remote');
</script>
{% endblock %}
